// 'Appearance' tab in plugin backend

// content preview mode ------------------------------------------------------------------------------------------------
.lp_previewMode-1,
.lp_previewMode-2 {
    background-repeat:          no-repeat;
    height:                     208px;
    margin:                     0.5em 4em 0.25em 1.75em;
    width:                      300px;
}

.lp_previewMode-1 {
    background-image:           url('../img/preview-mode-1.png');
    background-size:            100%;
}

.lp_previewMode-2 {
    background-image:           url('../img/preview-mode-2.png');
    background-size:            100%;
}
