// 'Pricing' tab in plugin backend

// time passes ---------------------------------------------------------------------------------------------------------
.lp_addTimePass.button {
    margin-bottom:          $fs-1;
}

.lp_timePassWrapper {
    background:             $background-darker;
    border-radius:          3px;
    margin-bottom:          $fs-1;
    margin-left:            round(2.5 * $fs-1);
    padding:                $fs-1;
    position:               relative;

    .lp_timePass__idWrapper {
        background: $background-darker;
        border-radius: 4px 0 0 4px;
        left: - round(3.5 * $fs-1);
        line-height: 1.2;
        padding: $fs-05 $fs-025;
        position: absolute;
        text-align: center;
        width: $fs-3;
    }

    .lp_timePass__id {
        font-size: $fs-2;
    }

    .lp_timePass {
        margin-bottom: 0;
    }
}

.lp_timePass_editorContainer {
    display:                inline-block;
    vertical-align:         top;

    .lp_timePass_formColumn {
        display:            inline-block;
        margin-right:       $fs-2;
        vertical-align:     top;

        td {
            padding:        0;
            vertical-align: middle;
        }

        .lp_rowspan-label {
            padding-top: $fs-05;
            vertical-align: top;
        }
    }

    .lp_timePass_descriptionInput {
        height:             4.75em;
    }

    .lp_saveLink {
        margin-top:         1em;
        margin-left:        0.5em;
    }

    .lp_toggle_label_pass {
        width:              3.5em;

        .lp_toggle_input:checked ~ .lp_toggle_text {
            background:     hsl(0, 0%, 80%);
        }
    }
}

// voucher editor
.lp_voucherRow {
    margin-top:             $fs-05;
    margin-right:           $fs-1;
}

.lp_voucherList .lp_voucherRow {
    float:                  left;
}
